<h1>Data-Driven Web</h1>
<p>Ik ben dus {{ person.name }}</p>
<p>Het is vandaag {{ 'now' | date: "%A %d %B %Y" }}</p>
<p>Het is nu {{ 'now' | date: "%H:%M" }}</p>
<p>Ik ben jarig op {{ person.birthdate | date: "%A %d %B %Y" }}</p>
<p>Ik ben geboren in {{ person.custom.hometown  }}</p>




